.searchBar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indicator {
  position: absolute;
  width: 100px;
  height: auto;
  text-align: center;
  top: 0; bottom: 0; right: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
}

.no-result{
  color: #BDBDBD;
}

.container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.input {
  width: 700px;
  height: 50px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #ffffff;
}

.inputFocused {
  outline: none;
}

.inputOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.suggestionsContainer {
  display: none;
}

.suggestionsContainerOpen {
  display: block;
  position: absolute;
  top: 51px;
  width: 700px;
  background-color: #ffffff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  z-index: 2;
}

.suggestionsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.suggestionHighlighted {
  background-color: #ddd;
}

.suggestionName{
  display: inline-block;
}

.suggestionCode{
  display: inline-block;
  float: right;
  clear: both;
}
